asgiref==3.8.1
channels==4.2.0
channels_redis==4.2.1
Django==5.1.4
django-widget-tweaks==1.5.0
dnslib==0.9.25
dnspython==2.7.0
gunicorn==23.0.0
msgpack==1.1.0
packaging==24.2
pillow==11.1.0
pypiwin32==223
pywin32==310
redis==5.2.0
setuptools==80.9.0
sqlparse==0.4.4
supervisor==4.2.5
tzdata==2024.1
waitress==3.0.2
whitenoise==6.9.0
