:root {
    --primary: #1566FF;
    --primary-light: #4689FF;
    --primary-dark: #0f4cb3;
    --light-gray: #f4f4f4;
    --gray: #ccc;
    --dark-gray: #333;
    --text-color: #333;
    --background: #fff;
    --border-radius: 8px;
    --shadow: rgba(0, 0, 0, 0.1);
}
.container {
    background-color: var(--background);
    padding: 0 20px 20px 20px;
    border: 1px solid var(--gray);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
  }
select{
    border-radius: var(--border-radius);
    padding: var(--border-radius) !important;
    border: 2px solid var(--primary);
}

.htmx-indicator{
    display:none;
    transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
    display:block;
}
.htmx-request.htmx-indicator{
    opacity:1;
}

  .loading-lazy:not(.loaded) {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.loading-lazy.loaded {
    opacity: 1;
}

.popoverbackdrop {
    background-color: #000000b3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px; 
    padding: 2rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1000 !important;
}
 
/* toggle  */
.toggle {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}
.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}
.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(182, 182, 182);
    transition: .4s;
    border-radius: 10px;
}
.toggle-slider:before {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    border-radius: 6px;
    left: 0.3em;
    bottom: 0.3em;
    transform: rotate(270deg);
    background-color: rgb(255, 255, 255);
    transition: .4s;
}
.toggle input:checked + .toggle-slider {
    background-color: #2196F3;
}
.toggle input:focus + .toggle-slider {
    box-shadow: 0 0 1px #2196F3;
}
.toggle input:checked + .toggle-slider:before {
    transform: translateX(1.5em);
}
#lepopover input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209 213 219);
    border-radius: 0.5rem;
  }
  
  #lepopover input:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
    border-color: transparent;
  }