{% load static %}
<section id="exams" class="section mb-10">

    <h2 class="section-title text-3xl font-semibold text-gray-800 mb-6">Exams</h2>
    <div class="container">
        <div class="container-head flex justify-between mb-6">
            <input type="search" placeholder="Search exams..." class="search-bar p-2 rounded-md border border-gray-300 w-1/3">
        </div>
        <div class="exam-container flex space-x-8">        
            <div hx-get="{% url 'exam:active_papers' %}" hx-trigger="load, revealed" class="flex space-x-3"></div>
        </div>
    </div>
</section>

<section id="dashboard" class="section mb-10">
    <h2 class="section-title text-3xl font-semibold text-gray-800 mb-6">Dashboard</h2>
</section>

{% comment %}
<section id="courses" class="section mb-10">
    <h2 class="section-title text-3xl font-semibold text-gray-800 mb-6">Courses</h2>
    <div class="container">
        <div class="container-head flex justify-between mb-6">
            <input type="search" placeholder="Search courses..." class="search-bar p-2 rounded-md border border-gray-300 w-1/3">
        </div>
    </div>
</section>
{% endcomment %}

<section id="result" class="section mb-10">
    <h2 class="section-title text-3xl font-semibold text-gray-800 mb-6">Results</h2>
    <div class="container">
        <div class="container-head flex justify-between mb-6">
            <div class="filter-menu flex space-x-4">
                <p class="filter-link text-gray-600 flex items-center cursor-pointer hover:text-gray-800">
                    <span>Filter</span>
                    <svg viewBox="0 0 360 360" width="16" height="16" class="ml-2"><path d="M325.607,79.393c-5.857-5.857-15.355-5.858-21.213,0.001l-139.39,139.393L25.607,79.393 c-5.857-5.857-15.355-5.858-21.213,0.001c-5.858,5.858-5.858,15.355,0,21.213l150.004,150c2.813,2.813,6.628,4.393,10.606,4.393 s7.794-1.581,10.606-4.394l149.996-150C331.465,94.749,331.465,85.251,325.607,79.393z"></path></svg>
                </p>
            </div>
            <input type="search" placeholder="Search results..." class="search-bar p-2 rounded-md border border-gray-300 w-1/3">
        </div>
        <div hx-get="{% url 'exam:results' %}" hx-trigger="revealed"></div>
    </div>
</section>


<section id="settings" class="section mb-10">
    <h2 class="section-title text-3xl font-semibold text-gray-800 mb-6">Settings</h2>
</section>