{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Trebuchet MS';
    }

    body {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--background);
      padding: 30px;
    }

    .container {
      position: relative;
      max-width: 850px;
      width: 100%;
      background: #fff;
      padding: 40px 30px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      perspective: 2700px;
    }

    .container .cover {
      position: absolute;
      top: 0;
      left: 50%;
      height: 100%;
      width: 50%;
      z-index: 98;
      transition: all 1s ease;
      transform-origin: left;
      transform-style: preserve-3d;
      backface-visibility: hidden;
    }

    .container #flip:checked ~ .cover {
      transform: rotateY(-180deg);
    }

    .container #flip:checked ~ .forms .login-form {
      pointer-events: none;
    }

    .container .cover .front,
    .container .cover .back {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    .cover .back {
      transform: rotateY(180deg);
    }

    .container .cover img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 10;
    }

    .container .cover .text {
      position: absolute;
      z-index: 10;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .container .cover .text::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: var(--primary);
    }

    .cover .text .text-1,
    .cover .text .text-2 {
      z-index: 20;
      font-size: 26px;
      font-weight: 600;
      color: #fff;
      text-align: center;
    }

    .cover .text .text-2 {
      font-size: 15px;
      font-weight: 500;
    }

    .container .forms {
      height: 100%;
      width: 100%;
      background: #fff;
    }

    .container .form-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .form-content .login-form,
    .form-content .signup-form {
      width: calc(100% / 2 - 25px);
    }

    .forms .form-content .title {
      position: relative;
      font-size: 24px;
      font-weight: 500;
      color: var(--text-color);
    }

    .forms .form-content .title:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 25px;
      background: var(--primary);
    }

    .forms .signup-form .title:before {
      width: 20px;
    }

    .forms .form-content .input-boxes {
      margin-top: 30px;
    }

    .forms .form-content .input-box {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      margin: 10px 0;
      position: relative;
      border: 1px solid var(--gray); /* Border for input box */
      border-radius: var(--border-radius);
    }

    .form-content .input-box input {
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
      padding: 0 var(--border-radius);
      font-size: 16px;
      font-weight: 500;
      transition: all 0.3s ease;
      border-radius: var(--border-radius); /* Rounded corners */
    }

    .form-content .input-box input:focus,
    .form-content .input-box input:valid {
      border-color: var(--primary);
    }

    .form-content .input-box i {
      position: absolute;
      color: var(--primary);
      font-size: 17px;
      left: 10px;
    }

    .form-content .input-box .show-password {
      position: absolute;
      right: 10px;
      top: 50%;
      left: 90%;
      transform: translateY(-50%);
      color: var(--primary);
      cursor: pointer;
    }

    .forms .forpm-content .text {
      font-size: 14px;
      font-weight: 500;
      color: var(--text-color);
    }

    .forms .form-content .text a {
      text-decoration: none;
      color: var(--primary);
    }

    .forms .form-content .text a:hover {
      text-decoration: underline;
    }

    .forms .form-content .button {
      color: #fff;
      margin-top: 16px;
    }

    .forms .form-content .button input {
      color: #fff;
      background: var(--primary);
      border-radius: 6px;
      padding: 0;
      cursor: pointer;
      transition: all 0.4s ease;
    }

    .forms .form-content .button input:hover {
      background: var(--primary-light);
    }

    .forms .form-content label {
      color: var(--primary-light);
      cursor: pointer;
    }

    .forms .form-content label:hover {
      text-decoration: underline;
    }

    .forms .form-content .login-text,
    .forms .form-content .sign-up-text {
      text-align: center;
      margin-top: 25px;
    }

    .container #flip {
      display: none;
    }

    @media (max-width: 730px) {
      .container .cover {
        display: none;
      }

      .form-content .login-form,
      .form-content .signup-form {
        width: 100%;
      }

      .form-content .signup-form {
        display: none;
      }

      .container #flip:checked ~ .forms .signup-form {
        display: block;
      }

      .container #flip:checked ~ .forms .login-form {
        display: none;
      }
    }
  </style>
  <body>
    <div class="container">
        <input type="checkbox" id="flip">

        <div class="cover">
            <div class="front">
                <img src="{% static 'images/frontImg.jpg' %}" alt="">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>

        <div class="forms">
            <div class="form-content">   
                <div class="signup-form">
                    <div class="title">Signup</div>
                    <form action="{% url 'signup' %}" method="POST">
                      {% csrf_token %}
                      <div class="input-boxes">
                          <div class="input-box">
                              <div>
                                <i class="fas fa-user"></i>
                                {{ signup_form.first_name }}
                                {% if signup_form.first_name.errors %}
                                    <ul class="error-list">
                                        {% for error in signup_form.first_name.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                              </div>
                              <div>
                                  <i class="fas fa-user"></i>
                                  {{ signup_form.last_name }}
                                  {% if signup_form.last_name.errors %}
                                      <ul class="error-list">
                                          {% for error in signup_form.last_name.errors %}
                                              <li>{{ error }}</li>
                                          {% endfor %}
                                      </ul>
                                  {% endif %}
                              </div>
                          </div>
                  
                          <div class="input-box">
                              <i class="fas fa-envelope"></i>
                              {{ signup_form.email }}
                              {% if signup_form.email.errors %}
                                  <ul class="error-list">
                                      {% for error in signup_form.email.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          </div>
                  
                          <div class="input-box">
                              <i class="fas fa-lock"></i>
                              {{ signup_form.password1 }}
                              {% if signup_form.password1.errors %}
                                  <ul class="error-list">
                                      {% for error in signup_form.password1.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                              <i class="show-password" onclick="togglePasswordVisibility('signup-password')">👁️</i>
                          </div>
                  
                          <div class="input-box">
                              <i class="fas fa-lock"></i>
                              {{ signup_form.password2 }}
                              {% if signup_form.password2.errors %}
                                  <ul class="error-list">
                                      {% for error in signup_form.password2.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                              <i class="show-password" onclick="togglePasswordVisibility('confirm-password')">👁️</i>
                          </div>
                  
                          <div>
                              <i class="fas fa-graduation-cap"></i>
                              {{ signup_form.grade_level }}
                              {% if signup_form.grade_level.errors %}
                                  <ul class="error-list">
                                      {% for error in signup_form.grade_level.errors %}
                                          <li>{{ error }}</li>
                                      {% endfor %}
                                  </ul>
                              {% endif %}
                          </div>
                  
                          {% if signup_form.non_field_errors %}
                              <ul class="error-list">
                                  {% for error in signup_form.non_field_errors %}
                                      <li>{{ error }}</li>
                                  {% endfor %}
                              </ul>
                          {% endif %}
                  
                          <div class="button input-box">
                              <input type="submit" value="Submit">
                          </div>
                  
                          <div class="text sign-up-text">
                              Already have an account? <a href="{% url 'login' %}">Login now</a>
                          </div>
                      </div>
                  </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function togglePasswordVisibility(id) {
            const passwordField = document.getElementById(id);
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
        }
    </script>
</body>
{% endblock content %}